version: "2.4"

services:
  node:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"

  mailhog:
    image: mailhog/mailhog:latest
    restart: always
    ports:
      - 1025:1025
      - 8025:8025
